body, html {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
    scroll-snap-type: y mandatory;
}

#nav-bar {
    align-items: center;
    border-bottom: 2px solid black;
    display: grid;
    height: 15vh;
    position: sticky;
    top: 0;
    width: 98vw;
}

#nav-bar-right {
    justify-self: right;
}

.nav-bar-link {
    color: black;
    display: inline;
    margin: 0 1vw 0 1vw;
    text-decoration: none;
}

.panels {
    display: flex;
    flex-direction: column;
    height: 83vh;
    padding: 15vh 5vw 1vh 5vw;
    scroll-snap-align: center;
    width: 88vw;
}

#top-panel {
    align-items: center;
    justify-content: center;
}